/* 設定地圖大小 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

/* 控制欄位樣式 */
#controls {
  position: absolute;
  top: 10px;
  right: 10px; /* 將控制欄移動到右上角 */
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

#controls label {
  font-size: 14px;
}